<h3>tracked & get WOs</h3>
<div class="container mb-5">
    <p>Counter = {{this.count}}</p>
    <button {{on "click" this.increment}}>+1</button>
    <p>Multiple = {{this.multiple}}</p>
    <button {{on "click" this.multiply}}>*2</button>
    <p>Counter + Multiple = {{this.total}}</p>
</div>

{{outlet}}