<div class="messages">
    <aside>
        <div class="avatar is-active" title={{Tomsters_avatar}}>D{{chat.user_initial}}</div>
    </aside>
    <section>
        <h4 class="username">
            d{{chat.userName}}
            <span class="local-time">d{{chat.user_localTime}}</span>
        </h4>

        <p>
            d{{chat.message}}
        </p>
    </section>

    <aside class="current-user">
        <div class="avatar" title={{Zoey_avatar}}>Z</div>
    </aside>
    <section>
        <h4 class="username">
            d{{chat.userName}}
            <span class="local-time">d{{chat.user_localTime}}</span>
        </h4>

        <p>
            d{{chat.message}}
        </p>
    </section>

    <form>
        <input />
        <button type="submit">
            Send
        </button>
    </form>
</div>